* {
    background-color: #121212;
    color: #bdbdbd;
    font-family: 'Balsamiq Sans', cursive;
    text-align: center;
}
.header {
    background-color: #284978;
    height: 100px;
    position: fixed;   
    top: 0;   
    left: 0;   
    z-index: 9999;   
    width: 100%;
    text-align: center;
    margin-bottom: 5%;
    font-size: 40px;
}
.header p{
    background-color: #284978;
    margin-top: 0px;
}
body {
    margin-top: 70px;
}
